<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Series{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include 'menu/nav.html.twig' %}

    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include 'menu/nav.html.twig' %}
    </footer>
    </body>
</html>
